body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
p{
    color: #6a6a6a;
    font-size: 14px;
}
h1{
    color: #E20000;
    font-size: 36px;
}
input, textarea, .btn {
    border-radius: 15px !important;
}
textarea{
    height: 150px;
}
nav .nav-link{
    color: #282828;
}
nav .active{
    border: 1px solid #E20000;
    border-radius: 20px;
}
#contacto {
    background-image: url(../images/fondo-contacto.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#proyectos {
    background-image: url(../images/fondo-proyectos.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#proyectos h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 0px;
}
#proyectos img {
    height: 210px;
}
#proyectos .card p{
    height: 90px;
}
#inicio .cohete{
    height:500px;
    transition: all .7s ease-in-out;
}
.hola{
    margin-left: 280px;
    border-radius:15px;
    border:2px solid red;
    color:black;
    font-size: 20px;
    width:650px;
    padding: 10px;
}
strong{
    text-decoration: underline;
}

.parrafo{
    display:flex;
    flex-direction: row;

}



.img-circulo{
    
    border-radius: 100px;
    height: 200px;
    width: 250px;
    border:3px solid red;
    margin-left: 160px;
    margin-top: 2px;
    
    
    

}
.cohete:hover{
    
    transform:scale(1.2);
}
.cohete{
    overflow: hidden;
    margin-left: 550px;
    margin-top: 50px;
    

}
.container-stack{
    background-color: red;
    
}
h3{
    padding-top: 20px;
    margin-left: 60px;
    align-items: center;
}
.container-stack{
justify-content: center;
}

.contenedor-img:hover{
    background-color: tomato;
}
.contenedor-img{
   
    background-color: white;
    width: 250px;
    height: 250px;
    font-weight: bold;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

}
.segunda-seccion {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    
}
.color-gradiente{
    background: rgba(184,37,20,1);
    background: -moz-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,37,20,1)), color-stop(47%, rgba(214,52,30,1)), color-stop(70%, rgba(240,47,23,1)), color-stop(100%, rgba(240,47,23,1)));
    background: -webkit-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -o-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -ms-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82514', endColorstr='#f02f17', GradientType=1 );
}
.btn {
    color: #370a6d;
    background-color: white;
    border: none;
}
.btn-rojo{
    background-color: #E20000;
    color: white;
    font-weight: 100;
    border-radius: 15px;
}
.link-rojo a{
   color: #E20000;
   text-decoration: none;
}
.btn:hover{
       color:black;
    background-color:#370a6d;
}
footer, footer a{
    
    color:white;
    font-weight: 100;
}
footer .fa-github{
    font-size: 30px;
    color:#ff4a49;
    background-color: white;
}
footer .fa-linkedin-in{
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
.whatsapp{
    background-color:#370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right:80px;
    position: fixed;
    bottom: 0px;
}
.whatsapp a{
    color: white;
}    
@media (max-width: 750px) {/* Para mobile */
    #contacto {
        background-image: url(../images/fondo-proyectos.png);
    }
    footer a{
    color: #E20000;
}
}